<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
    <link href="styles/main.css" rel="stylesheet">
    <link href="styles/register.css" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments/header::not-logged-in-header}"></header>
<main class="margin-top">
    <h3 class="margin-top"> Create An Account</h3>
    <form method="post" action="/register">
        <div>
            <label>Enter your full name</label>
            <input name="fullName" type="text" required>
        </div>
        <div>
            <label>Enter your nickName</label>
            <input name="nickName" minlength="4" type="text" required>
        </div>

        <div>
            <label>Enter your password</label>
            <input name="password" minlength="4" type="password" required>
        </div>
        <div>
            <label>Enter your phoneNumber</label>
            <input name="phoneNumber" type="text" required>
        </div>
        <div>
            <label>Enter your email</label>
            <input name="email" type="email" required>
        </div>
        <div>
            <button class="button green-theme" type="submit">Register</button>
            <button class="button red-theme" type="reset">clear form</button>
        </div>
    </form>
</main>
</body>
</html>